.settings {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 20%;
    align-items: center;
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    gap: 0;
    position: relative;
}

.settings h1 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    text-align: left;
    min-width: 50%;
    flex: 0 0 90px;
}

.settings button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 110px;
    margin: 0;
}

.settings span {
    position: absolute;
    right: 24px;
    color: #fff;
    font-size: 1rem;
    text-align: right;
    min-width: 140px;
}