* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: rgb(174, 173, 173);
  display: flex;
  flex-direction: column;
}

#digital_display {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.digital_item {
  flex: 1;
  margin: 15px;
  height: 550px;
  width: 1200px;
  background-color: gray;
  border-radius: 10px;
}

.bottom-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease;
  transform: translateY(80%);
  z-index: 1000;
}

.bottom-sheet.open {
  transform: translateY(0%);
}

.sheet-content {
  background-color: #fff;
  padding: 20px;
  border-top: 2px solid #ccc;
  height: 200px;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

.toggle-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

