* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: rgb(174, 173, 173);
  display: flex;
  flex-direction: column;
}

#digital_display {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.digital_item {
  flex: 1;
  margin: 15px;
  height: 550px;
  width: 1200px;
  background-color: gray;
  border-radius: 10px;
}

.bottom-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease;
  transform: translateY(97%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-sheet.open {
  transform: translateY(0%);
}

.drag-handle {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.handle-bar {
  width: 60px;
  height: 8px;
  background-color: #ccc;
  border-radius: 4px;
}

.sheet-content {
  width: 1200px;
  background-color: #fff;
  padding: 20px;
  height: 800px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
}