* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: rgb(174, 173, 173);
  display: flex;
  flex-direction: column;
}

#digital_display {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.digital_item {
  flex: 1;
  margin: 15px;
  height: 550px;
  width: 1200px;
  background-color: gray;
  border-radius: 10px;
}