* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html, body {
  height: 100%;
} */

body {
  background-color: rgb(174, 173, 173);
  display: flex;
  flex-direction: column;
}

#digital_display {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75vh;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 1em;
}

.digital_item {
  flex: 1;
  margin: 10px;
  height: 95%;
  width: 50%;
  background-color: gray;
  border-radius: 10px;
}

.setting-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 3000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.setting-modal {
  background: rgb(174, 173, 173);
  padding: 40px 32px;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.18);
  min-width: 80vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.column_bar{
    width: 50%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
